.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(0deg, transparent 0%, rgba(255, 255, 255, .6) 20%, rgba(255, 255, 255, .6) 100%, transparent 100%);
  color: white;
  z-index: 1000; /* Ensures the menu appears above other content */
}

/* Style for the main content area */
.content {
  margin-top: 100px; /* Adjust margin to avoid content overlapping with the fixed menu */
  padding: 20px;
}

/* Style for the navigation bar */
.navbar {
  width: 90%;
  display: flex;
  justify-content: center;
}

/* Style for the navigation links */
.navbar a {
  color: black;
  font-family: helvetica, sans-serif;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10 10px;
  border-radius: 5px;
  background-color: white; /* Background color changed to white */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Added box shadow */
}
